.col1{
    background-color: #FFFFFF;
   display: flex;
   justify-content: space-around;
    /* border: 1px solid;  */
    margin: 100px 30px;
    height: 500px;
    border-radius: 20px;
}
.text01{
 /* border: 1px solid; */
 width: 50%;
 font-size: 40px;
 align-self: center;
}
.text01 h3{
    margin: 0;
    color: #070707;
}
.text01 button{
 border: none;
 margin: 0;
 padding: 20px;
 border-radius: 20px;
 background-color: #F4B100;
}
.picture{
 /* border: 1px solid; */
 width: 40%;
 
}
.picture img{
    width: 100%;
}