.grid-1{
     /* border: 1px solid;  */
    height: 900px;
    margin: 30px 40px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
grid-gap: 20px;
}

[class^="grid"]{
    /* outline: 1px dashed orange; */
    margin: 30px;
     justify-content: center; 
     text-align: justify; 
    
    
}

.grid-item-1 img{
    width: 350px;
 
}
.text1{
    /* border: 1px solid; */
    width: 350px;
    box-sizing: border-box;
}
.grid-item-1 p{
    color: black;
    font:bolder;
    /* margin: 0; */
    line-height: 30px;
    font-size: 20px;
}
.grid-item-1 h6{
    color: #F6C030;
}
