.pricing{
 /* border: 1px solid; */
 margin: 30px 30px;
 
 
}
    
.pricing-text{
    /* border: 1px solid; */
    text-align: center;
}
.pricing-text h3{
    font-size: 39px;
}
.pricing-text p{
    margin-top: 0;
    font-size: 20px;
}
.pricing-box{
    /* border: 1px solid; */
    margin: 30px 100px;
    display: flex;
    justify-content: center;
    
    
    
}
.pricing-box h3{
 font-family: cursive;
 font-size: 24px;
}
.pricing-box-1{
background-color: #FFFFFF;
border-radius: 20px;
 margin-left: 20px;
 /* border: 1px solid; */
 align-self: center;
 height: 300px;
 width: 500px;
 
}
.pricing-box-1 h5{
    color: #D29800;
    font-size: 14px;
}
.pricing-box-1-1{
    background-color:#1F9DFF;
    border-radius: 20px;
     margin-left: 20px;
    /* border: 1px solid; */
    height: 300px;
    width: 500px;
    padding: 40px ;  
    
}
.pricing-box-1-1 button{
    background-color: #D29800;
}

.pricing-box h5,h3{
    
    margin-left: 20px;
     
}
.pricing-box button{
    /* border: 1px solid; */
    border: none;
    margin-left: 20px;
    border-radius: 9px;
    padding: 18px 70px;   
}