/* ThirdSection */
.section-3{
    /* border: 1px solid; */
 } 
 .inner-1{
   display: flex;
   justify-content: space-evenly;
   height: 700px;
   /* border: 1px solid; */
   margin: 30px;
   background-color: #FFFFFF;
   border-radius: 8px;
 }
 .pic-1{
   /* border: 1px solid; */
   width: 585px;
   height: 585px;
   margin-top: 50px;
   border-radius: 20px;
 }
 .pic-1 img{
   width:585px ;
 }
 
 .text{
   /* border: 1px solid; */
   width: 41%;
   box-sizing: border-box;
   font-size: 20px;
   line-height: 40px;
   font-family: "Open Sans", sans-serif;
   font-weight: 400px;
   text-align: justify;
   align-self: center;
 
 }
 .text h6{
   color: #F6C030;
 }

 .inner-2{
  margin: 30px;
  background-color: #38A1FF;
  /* border: 2px solid;  */
  border-radius: 20px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content:space-evenly;
  text-align: justify;
 }

 .Grid-item1{
  outline: 1px #f90 dashed;
  background-color: #FCFCFC;
  padding-top: 30px;
  height: 400px;
  margin: 10px 30px;
  border-radius: 10px; 
  text-align: justify;
  text-align: center;
  
 }
  .Grid-item1 p{
    color: #7F7F7F;
    font-size: 30px;
  line-height: 40px;
  font-weight: 400px;
  font-family: "Open Sans", sans-serif;
 } 

 .vue{
  width: 400px;
  
 }
.icon{
  width: 100px;
}

 .Grid{
  /* border: 1px solid; */
  margin: 50px 20px;

 }
 .Grid h6{
  color: #F6C030;
  font-size: x-large;
  margin: 0;
 }
 .Grid h1{
   color: #FFFFFF;
  margin: 0;
  font-size: 60px;
 }
 .Grid p{
  font-family:sans-serif ;
  color: #FFFFFF;
  font-size: 20px;
 }
 
 .annex {
  margin: 30px;
 
 }
 .annex img{
  width:40px;
 }
 .annex span{
  color: #FCFCFC;
  font-weight: 1000px;
  
 }